.header {
	position: relative;
	height: 80px;
	margin-top: 10px;
}

.header p {
	margin-left: 260px;
	padding-top: 20px;
}

img#logo {
	position: absolute;
	top: 0;
	left: 0;
}

.hero-unit {
	background-image: url('/static/img/neighborhood.jpg');
	background-position: bottom center;
	color: #FFF;
	padding-bottom: 5px;
	padding-top: 330px;
	margin-bottom: 5px;
}

.hero-unit h1 {
	font-size: 45px;
}

form {
	padding-top: 18px;
	background-color: #FFF;
	color: #000;
	border-radius: 10px;
	border: 2px solid #777;
}

.form-horizontal .control-group  {
	margin-bottom: 8px;
}

.form-actions {
	padding: 9px 0;
	margin-bottom: 0;
	border-radius: 0 0 10px 10px;
}

hr {
	margin: 9px 0;
}
